@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e2e;
  color: #e2e8f0;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #3a3a5e;
  border-radius: 2px;
}
